
body {
  background-color: #fff;               /* Imposta il colore di sfondo del corpo */
  color: #000;                         /* Imposta il colore del testo normale (come paragrafi e testo generico) */
  line-height: 1.5;                     /* Imposta l'altezza della linea tra le righe di testo per migliorare la leggibilità */
}     
   
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6, html {
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
}

* {                              /* Rimuove il bordo del browser predefinito */
  margin: 0;                    /* stai dicendo al browser di non aggiungere alcuno spazio tra l'elemento e gli altri elementi circostanti.*/
  box-sizing: border-box;      /* crea distanza tra le sezioni dei progetti, se omesso le mette tutte attaccate */
 /* border: 1px solid red;  Aggiungi un bordo rosso alla classe .wrapper */

}


body {
  margin: 0;
  padding: 0;
}

/* Stili per i paragrafi */
p {
  margin: 10px 0;         /* Aggiunge spazio sopra e sotto di 10px a ciascun paragrafo */
}




/*######################### MENU/ navbar #########################*/

header {
  background-color: #333;
  color: #fff;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between; /* Aggiunge spazio tra il logo e il menu */

}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-right: auto;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
  list-style-type: none;
  display: inline-block;
  padding-right: 12px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}


/* Stili per il menu hamburger su dispositivi mobili */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;

}

/* Stili per dispositivi più piccoli */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Nascondi i link del menu */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
  }

  .nav-links.active {
    display: flex; /* Mostra i link del menu quando è attivo */
  }

  .hamburger-menu {
    display: flex; /* Mostra il menu hamburger */
  }
}

/*#########################  PARTE UNO ###########################*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.one{
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 700px) {
    .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .one {
    margin-top: 20px; /* Riduci il margine superiore su dispositivi mobili */
    text-align: center; /* Centra il testo */
  }
}

/*#########################  PARTE DUE ###########################*/


.frase {
  text-align: center;
  margin: 20px 0;
}

.highlight {
  font-size: 2em;
  color: #888;
}

.highlight-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.2em;
}

.highlight-down {
  display: inline-block;
  top: 0.3em;
  margin-bottom: -1em;
  margin-left: 0.4em;

}

/*#########################  PARTE TRE ###########################*/


.row {
  background-color: #c4d6e2;
}

.sub-title {
  font-family: Montserrat, sans-serif;
  margin-left: 200px;
  margin-right: 200px;

  padding: 35px;
}

.sub-title strong {
  display: inline-block;
  position: relative;
}

.sub-title strong::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: -3px;
  left: 0;
}


/* Media query per dispositivi con larghezza massima di 768px (tablet e dispositivi mobili) */
@media screen and (max-width: 768px) {
  .sub-title {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }

  .sub-title strong::after {
    bottom: -2px;
  }
}

/*#########################  PARTE QUATTRO ###########################*/

img {
  border-radius: 10%;
  max-width: 100%;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-item {
  position: relative;
  /* Imposta un'altezza fissa per l'elemento .grid-item (ad esempio 300px) */
  /* Imposta un'immagine di sfondo per l'elemento .grid-item */
  background-image: url('img/powerBI.PNG');
  background-size: cover; /* Adatta l'immagine di sfondo per coprire l'intero elemento */
  background-position: center center; /* Centra l'immagine di sfondo */
}

.overlay {
  position: absolute;
  bottom: 0; /* Posiziona inizialmente l'overlay all'estremità inferiore dell'elemento .grid-item */
  left: 0;
  width: 100%;
  height: 20%; /* Copre solo la metà inferiore dell'immagine */
  background: rgba(0, 0, 0, 0.5); /* Un colore di sfondo semitrasparente per rendere il testo leggibile */
  color: white; /* Colore del testo */
  text-align: center; /* Allineamento del testo al centro */
  opacity: 0; /* L'overlay è inizialmente nascosto */
  transition: opacity 0.3s, bottom 0.3s; /* Aggiungi una transizione per l'opacità e la posizione inferiore */
  overflow: hidden; /* Nasconde il contenuto che supera l'altezza iniziale */
  transform: translateY(-10%); /* Posiziona l'overlay verticalmente al centro */
}



/* When you mouse over the container, fade in the overlay title */
.grid-item:hover .overlay {
  opacity: 1;
  bottom: 0; /* Sposta l'overlay verso l'alto per farlo apparire */
}

/* Media query per dispositivi con larghezza massima di 768px (tablet e dispositivi mobili) */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Modifica la griglia per una colonna su schermi più piccoli */
  }

  .grid-item {
    margin-bottom: 20px; /* Aggiunge spazio tra gli elementi */
  }
}


footer {
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer_with_my_name {
  text-align: center;
  margin-top: 15px;
}

.Contact .sub-title strong::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #99b8cd;
  bottom: -3px;
  left: 0;
}

.icon-bar {
  text-align: center;
  margin-top: 20px;
}

.icon-bar a {
  display: inline-block;
  margin: 0 10px;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
