
body {
  background-color: #fff;               /* Imposta il colore di sfondo del corpo */
  color: #000;                         /* Imposta il colore del testo normale (come paragrafi e testo generico) */
  line-height: 1.5;                     /* Imposta l'altezza della linea tra le righe di testo per migliorare la leggibilità */
}     
   
.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6, html {
  font-family: Montserrat,sans-serif;
  font-weight: 300;
}

* {                              /* Rimuove il bordo del browser predefinito */
  margin: 0;                    /* stai dicendo al browser di non aggiungere alcuno spazio tra l'elemento e gli altri elementi circostanti.*/
  box-sizing: border-box;      /* crea distanza tra le sezioni dei progetti, se omesso le mette tutte attaccate */
}


body {
  margin: 0;
  padding: 0;
}

/* Stili per i paragrafi */
p {
  margin: 10px 0;         /* Aggiunge spazio sopra e sotto di 10px a ciascun paragrafo */
}


.About-me, .Portfolio, .Contact {
  margin: 0 200px; /* Distanza dai lati destro e sinistro */
  }




/*######################### MENU/ NAVBAR #########################*/

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
.menu li {
  margin-right: 20px;
  }
  
.resume-button a {
  display: inline-block;
  padding: 2px;
  background-color: #2a4e74;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  }
  
.resume-button a:hover {
  background-color: #0056b3;
  }
  

/* color of navbar and Scarica qui il mio cv */
a {
  text-decoration: none;                          /* remove the underlined under each navbars words */
  color: rgb(180, 2, 2); 
}
ul {
  list-style: none;                         /* leave a dot insthead a menu page   ex: .project .about me ecc) */
}

/* Stili per la barra di navigazione */
.navbar {
  background:rgba(238, 238, 238, 0.8); /* Cambiato l'opacità del background per renderlo più scuro */
  position: fixed; /* Aggiunto il posizionamento fisso per far rimanere la barra in cima */
  top: 0; /* Posiziona la barra in cima alla pagina */
  left: 0;
  right: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 80px;
  z-index: 9999; /* Assicura che la barra sia sopra gli altri elementi */
  transition: background-color 0.3s, opacity 0.3s; /* Aggiunte le transizioni per colore di sfondo e opacità */
}

/* Sottolineatura sottostante */
.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(158, 44, 44);
  bottom: 0;
  left: 0;
  transform: scaleX(0); /* Inizialmente nascosta */
  transform-origin: bottom left;
  transition: transform 0.3s;
}

.navbar ul li a:hover::after {
  transform: scaleX(1); /* Mostra la linea sottolineata al passaggio del mouse */
}




/*#########################  PARTE UNO ###########################*/

.portfolio-content {
  display: flex;
  justify-content: space-between;
}

.profile,
.portfolio-image {
  width: 50%;
  padding: 100px;
  
}
.profile-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.profile img,
.portfolio-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  width: 460px; /* Adjust this value according to your needs */
  height: 520px; /* Adjust this value according to your needs */
}




/*#########################  PARTE DUE ###########################*/

.frase {
  text-align: center;
  margin: 20px 0;             /* Aggiungi margine sopra e sotto */
}

.highlight {
  font-size: 2em;
  color: #888;
}

.highlight-container {
  display: flex;
  align-items: flex-end; /* Allineamento verticale in basso */
  justify-content: center;
  gap: 0.2em;
}

.highlight-down {
  display: inline-block;
  top: 0.3em; /* Sposta il carattere in basso regolando questo valore */ 
  margin-bottom:-1em;
  margin-left: 0.4em;       /* Sposta leggermente in basso   ❞*/
}






/*######################### PARTE TRE #########################*/

.row{
  background-color: #c4d6e2;
}

.sub-title {
font-family: Montserrat, sans-serif;      /* Applica lo stesso font alla classe .sub-title */
margin-left: 200px;                      /* Spostamento a destra dell'elemento sub-title */
padding: 35px;
}

.sub-title strong {
display: inline-block;
position: relative;
}

.sub-title strong::after {
content: "";
position: absolute;
width: 100%;
height: 1px;
background-color: white;
bottom: -3px;
left: 0;
}


.margin-container {
  margin: 0 200px;
}

/* Stili per le immagini */
img {
  border-radius: 10%;         /* Applica un bordo arrotondato del 10% all'immagine */
  max-width: 100%;           /* Imposta la larghezza massima dell'immagine al 100% del suo contenitore */
  padding: 10px;            /* Aggiunge uno spazio di riempimento di 10px attorno all'immagine */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.scroll-to-top img {
  width: 60px; /* Adjust the size of the arrow image */
  height: 60px; /* Adjust the size of the arrow image */
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template:
  "a b c" auto;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-item {
  position: relative;
  text-align: center;
}

.a {
  grid-area: a; /* Specifica l'area di griglia per l'elemento A */
}

.b {
  grid-area: b; /* Specifica l'area di griglia per l'elemento B */
}

.c {
  grid-area: c; /* Specifica l'area di griglia per l'elemento C */
}





.overlay {
  position: absolute;
  bottom: 0; /* Cambiato da top: 0 */
  left: 0;
  width: 100%;
  height: 50%; /* Copre solo metà dell'altezza dell'immagine */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column; /* Imposta la direzione del flessibile a colonna */
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inizialmente rendi l'overlay trasparente */
  transition: opacity 0.3s ease;
}

.grid-item:hover .overlay {
  opacity: 1; /* Quando passi il mouse sopra, rendi l'overlay opaco */
}


.grid-item img {
  width: 100%; /* Fai in modo che l'immagine copra completamente l'elemento */
  height: 100%;
  object-fit: cover; /* Riempi completamente l'elemento con l'immagine */
}
.grid-item:hover .overlay {
  opacity: 1;
}

.overlay strong {
  font-size: 0.8em; /* Imposta la dimensione del carattere più piccola */
}

.overlay p {
  font-size: 0.65em; /* Imposta la dimensione del carattere per il paragrafo */
}



/*######################## FOOTER ########################*/

footer {
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}
.footer_with_my_name {
  text-align: center;
  margin-top: 15px;
  }

  .Contact .sub-title strong::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #99b8cd;
    bottom: -3px;
    left: 0;
    }

.icon-bar {  /* icone nel footer*/
text-align: center;
margin-top: 20px; /* Aggiunto spazio sopra l'icon bar */
}
.icon-bar a {
display: inline-block;
margin: 0 10px;
}
      