@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


/* To declare style rules for the body of a webpage */ 
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(239, 223, 223);           
  color: #000;                                  /* color of <p> and text */
  line-height: 1.5;                               /* space of interlinea */
}     

/* remove border browser */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box; /* leave the down orizontal scroll bar */
}
/********************** MENU *************************************/

/* color of navbar and Scarica qui il mio cv */
a {
  text-decoration: none;                          /* remove the underlined under each navbars words */
  color: rgb(180, 2, 2); 
}
ul {
  list-style: none;                         /* leave a dot insthead a menu page   ex: .project .about me ecc) */
}
.navbar {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  /*text-align: center;*/
  align-items: center;
  color: #fff;                          /* color oly Di Fabio */
  opacity: 0.8;
  height: 70px; /*comune per navbar */
  /*position: fixed; */  /* la barra rimane bloccata e segue lo scorrimento del sito */
  /*top: 0; */
  transition: 1s;
  margin: 0;
}

.navbar ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* Change the color of links on hover */
.box a:hover {
    background-color: #ddd;
    color: rgb(75, 12, 12);
  }


li {                   
  display: inline;     /* Horizontal style page for navbar menu */
  margin-right: 15px;   /* create space between menu items (nav) */ 
}

.li a{
  margin: 0;
}

.nav li {
  margin-right: 10px;
}
p {
  margin: 10px 0;                         /* space between each <p> paragraph */
} 

/********************** CONTENT *************************************/

/* BACKGROUND IMAGE */
.box {
  height: 50vh;   
  background: url("/img/background_sito.png") no-repeat center center/cover;
  position: relative;
  color: #fff;
  /* 50% black box shadow */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.2);
}

/* box items for projects */
.flex-container {
  display: flex;   /* separazione dei box in orizzontale */
  padding: 20px;
}


.flex-items {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* image */
img {
  border-radius: 10%;
  max-width:100%;
  padding: 10px;
}

.flex-item .img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}



h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 40px; 
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 30px; 
  margin-bottom: 20px;
  text-align: center;
}

/* scarica qui il mio cv */ 
div.relative3 {
  position: absolute;
  bottom: 11%;
  right: 44%;
  line-height: 130px;
  text-align: center;
  font-size: 20px;
}

/* bottone */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 130px;
  border: none;
  background: #000;
  background-image: none;
  color: #fff;
  margin: auto;  
  text-align: center;
}

.btn-outline {
border: 1px solid #fff;
}


/* regulate column in WHO I'M */
.row {
  display: flex;
  gap: 1rem; /* create space between column */ 
}
.column {
  padding: 16px;
  flex: 1 1;
  text-align: center;
}

/* FOOTER */
.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.footer_with_my_name{
  padding:5px;
}

/************RESPONSIVE ****************/

@media  (max-width: 767px) { 
  .logo  { 
    display: inline-grid;
    font-size: 22px;
  }
}

@media  (max-width: 767px) { 
  .navbar ul{ 
    display: inline-block;
    top: 147px;
    position: relative;
    left: 27%;
    transform: translateX(-100%);
    font-size: 22px;
    white-space: pre; /* se omesso va a capo dopo ogni spazio about a capo me */
    line-height: 50px;
  }
}

@media (max-width: 767px) { 
  .flex-container {
      display:inline-block;
  }
}

@media (max-width: 767px) {   /*hide download cv*/
  .relative3 {
    display:none   }
}

@media (max-width: 767px) {   /*got in vertical How I'M column*/
  .row {
    display:inherit   }
}


